h2{
  text-align: center;
}
thead{
  text-align:center;
}
tr{
  border-style: solid;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}
.btn-danger{
  margin-top: 2px;
  margin-bottom: 2px;
  float: right;
  margin-right: 2px;
}
.btn-success{
  float:right;
  margin-top: 2px;
  margin-bottom: 2px;
}
#inptCourse{
 width:85%;
}
