<div class="container">
  <h2>{{question.question}}</h2>

  <div *ngIf="!buttonClick()">
    <div class="form-check">
    <input type="radio"  name="TrueFalseAnswer" class="form-check-input" id="True" (click)="select('true')">
    <label class="form-check-label" for="True">True</label>
  </div>
  <div class="form-check">
    <input type="radio"  name="TrueFalseAnswer"  class="form-check-input" id="False" (click)="select('false')">
    <label class="form-check-label" for="False">False</label>
  </div>
  </div>
  <div *ngIf="buttonClick()">
    <div class="radio" *ngIf="isCorrect('true')" class="bg-success">
      <label><input type="radio" name="{{question._id}}">True <i class="fa fa-check"></i></label>
    </div>
    <div class="radio" *ngIf="isCorrect('false')" class="bg-success float-none">
      <label><input type="radio" name="{{question._id}}">False <i class="fa fa-check"></i></label>
    </div>
    <div class="radio" *ngIf="isFalse('true')" class="bg-danger float-none">
      <label><input type="radio" name="{{question._id}}">True <i class="fa fa-times"></i></label>
    </div>
    <div class="radio" *ngIf="isFalse('false')" class="bg-danger float-none">
      <label><input type="radio" name="{{question._id}}">False<i class="fa fa-times"></i></label>
    </div>
  </div>

  <div class="h3">Your answer: {{question.answer}}</div>
  <button class="btn btn-success" (click)="grade()">Grade</button>



</div>
